* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  background-color: #a38080;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #e0c3c3;
  color: #000000;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Subtract the header height */
  padding: 20px;
  text-align: center;
  background-color: #887b7b;
}

.footer {
  background-color: #696969;
}

.logo img {
  height: 60px;
}

.menu-button img {
  height: 60px;
}
.buy-now-button {
  display: inline-block;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.buy-now-button:hover {
  background-color: lightgray;
  cursor: pointer;
}


.menu .menu-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #fff;
}

.menu .dropdown-content {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100vh;
  background-color: #f1f1f1;
  padding: 20px;
}

.menu .dropdown-content a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

.content {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .menu .dropdown-content {
    width: 100%;
  }
}
